
spring:
  application:
    name: DentalClinic
  datasource:
    url: jdbc:postgresql://switchback.proxy.rlwy.net:42702/railway
    username: postgres
    password: TyxOHsTbxiDnHLLLbrExOHdvHPoDimQI
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
