
spring:
  application:
    name: DentalClinic

  datasource:
    url: jdbc:postgresql://localhost:5432/DentalClinic
    username: localUser
    password: localPassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
